html, body {
  margin: 0;
  background: #F2E3DB;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.5rem 0 0.5rem;

  @include mq('desktop') {
    margin: 1rem 0 1rem;
  }
}

h1, .h1 {
  font-size: 2.5rem;
}

h2, .h2 {
  font-size: 2rem;
}

h3, .h3 {
  font-size: 1.5rem;
}

p, li, i {
  font-size: 1rem;
}

a {
  color: color('black');
}